.products-header-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.products-header-wrapper img {
    width: 100%;
    height: auto;
}

.text-content {
    text-align: left;
    width: 46%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.P-header-text h4 {
    margin-bottom: 30px;
    text-transform: none;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #FFF;
    /* overflow: hidden; */
    animation: fadeInLeft 1s both 1.5s;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #0274b8;
    text-align: center;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.more-info {
    margin-top: 7px;
}

.apply-form {
    border-radius: 4px;
    overflow: hidden;
    border-width: 0px;
    border-style: solid;
    border-color: #d9d9d9;
    box-shadow: 0px 8px 22.6px 6.4px rgba(0, 0, 0, 0.05) !important;
    border-radius: 10px;
    padding: 30px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control-file {
    display: block;
    width: 100%;
}

.form-sub {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #0274b8;
    color: white;
    border-radius: 4px;
}

.form-sub:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, #0274b8 0%, #febe34 100%);
    color: white !important;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 991px) {
    .P-header-text h4 {
        font-size: 21px !important;
        margin-bottom: 0px !important;
    }
}

@media (max-width: 767px) {
    .products-header-wrapper img {
        height: 200px !important;
    }

    .P-header-text h4 {
        font-size: 13px !important;
    }
}

@media (max-width: 480px) {
    .products-header-wrapper img {
        height: 160px !important;
    }

    .text-content {
        text-align: left !important;
        width: 70% !important;
        left: 39% !important;
    }

    .P-header-text h4 {
        margin-bottom: 10px !important;
        font-size: 13px !important;
        letter-spacing: 0px !important;
    }

    .apply-form .modal-footer {
        flex-wrap: nowrap;
    }
}

@media (max-width: 467px) {
    .section-title h2 {
        font-size: 29px;
    }

    .apply-form .modal-footer {
        flex-wrap: nowrap;
    }
}

@media (max-width: 376px) {
    .section-title h2 {
        font-size: 25px;
    }

    .apply-form .modal-footer {
        flex-wrap: nowrap;
    }
}