.products-header-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.products-header-wrapper img {
    width: 100%;
    height: auto;
}

.text-content {
    text-align: left;
    width: 46%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.P-header-text h6 {
    margin-bottom: 15px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffbf34;
    animation: fadeOutRight 1s both;
}

.P-header-text h4 {
    margin-bottom: 30px;
    text-transform: none;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #FFF;
    /* overflow: hidden; */
    animation: fadeInLeft 1s both 1.5s;
}

.callback-form {
    padding: 30px;
    background-size: cover;
    background-attachment: fixed;
}

.contact-form {
    padding-left: 20px;
}

.contact-us .contact-form {
    background-color: transparent !important;
    padding: 0 !important;
}

.callback-form .contact-form {
    background-color: #fafafa;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
    /* box-shadow: 7px 9px 9px 6px #000000; */
}

.callback-form .contact-form input {
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #0274b8 !important;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: 1px solid #ccc !important;
    margin-bottom: inherit;
    /* border-radius: 20px; */
}

.input-group-addon {
    background: #0274B8 !important;
    color: #fff !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 45px !important;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.csm-form-info {
    text-align: left;
}

.contact-us .contact-form button.filled-button {
    background-color: #0274B8 !important;
    transition: .2s all ease-in;
}

.contact-us .contact-form button.filled-button:hover {
    color: #000 !important;
    background-color: #ffbf34 !important;
    transition: .2s all ease-in;
}

.contact-us .contact-form button.filled-button {
    background-color: #a4c639;
    color: #fff;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

#map_canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.contact-information {
    margin-top: 40px !important;
}

.contact-information .contact-item {
    text-align: left !important;
    padding: 40px 30px !important;
    height: 100%;
    background-color: #f7f7f7;
}

.contact-information .contact-item:hover {
    background: #0275b81f;
}

.contact-information .contact-item h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

.contact-information .contact-item p {
    margin-bottom: 10px !important;
    display: flex;
}

.contact-information .contact-item i {
    color: #0274B8 !important;
    font-size: 18px !important;
    margin-bottom: 0px !important;
}

.contact-information .contact-item a {
    font-weight: 400;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}


@media (max-width: 991px) {
    .P-header-text h6 {
        margin-bottom: 11px !important;
        font-size: 17px !important;
    }

    .P-header-text h4 {
        font-size: 21px !important;
        margin-bottom: 0px !important;
    }
}

@media (max-width: 767px) {
    .products-header-wrapper img {
        height: 200px !important;
    }

    .P-header-text h6 {
        font-size: 13px !important;
    }

    .P-header-text h4 {
        font-size: 13px !important;
    }

    .row > .col-lg-6 {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .products-header-wrapper img {
        height: 160px !important;
    }

    .text-content {
        text-align: left !important;
        width: 70% !important;
        left: 39% !important;
    }

    .P-header-text h6 {
        margin-bottom: 4px !important;
    }

    .P-header-text h4 {
        margin-bottom: 10px !important;
        letter-spacing: 0px !important;
    }

    .callback-form {
        padding: 17px;
    }

    .callback-form .contact-form {
        padding: 9px;
    }

    .recaptcha-container {
        transform: scale(0.78);
        transform-origin: 0 0;
      }
}