.teamSection {
    font-family: 'Kanit', sans-serif;
}

.shopify-hero-section {
    background-image: url('../images/ecommerce/pri-shopify-h-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

h1.shopify-h {
    font-size: 34px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    /* font-family: "Kanit", sans-serif; */
}

span.shopify-h-2 {
    font-weight: 600;
    color: #286A97;
    /* font-family: "Kanit", sans-serif; */
}

.hero-sec-text p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 30px;
    width: 100%;
    max-width: 340px;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: "Kanit", sans-serif;
}

.shopify-cntct-btn {
    padding: 8px 52px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-right: auto;
    font-size: 15px;
    text-decoration: none !important;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
    color: #000;
    font-family: "Kanit", sans-serif;
}

.shopify-cntct-btn:hover {
    background-color: #286A97;
    color: #fff;
    border: 1px solid transparent;
    font-family: "Kanit", sans-serif;
}

.shopify-features {
    padding: 50px;
    font-family: "Kanit", sans-serif;
}

.features-2 p {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    width: 100%;
    max-width: 340px;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
}

.shopify-store-1 {
    background-color: #CCF3F9;
    border-radius: 30px;
    padding: 0px 30px;
    font-family: "Kanit", sans-serif;
}

.shopify-store-data p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-family: "Kanit", sans-serif;
}

.shopify-store-img img {
    max-height: 300px;
    font-family: "Kanit", sans-serif;
}

.theme-seo-sec {
    margin: 20px 0px;
    font-family: "Kanit", sans-serif;
}

.shopify-theme {
    background-color: #DDE5FF;
    border-radius: 30px;
    padding: 25px 30px 0px 30px;
    font-family: "Kanit", sans-serif;
}

.shopify-heading {
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    width: 100%;
    max-width: 304px;
    color: #286A97;
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
}

.shopify-para {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
}

.shopify-theme img.img-fluid {
    width: 358px;
    height: auto;
    display: block;
    margin: 0 auto;
    font-family: "Kanit", sans-serif;
}

.shopify-Seo {
    background-color: #FFFBD0 !important;
    font-family: "Kanit", sans-serif !important;
}

.shopify-para-img {
    width: 248px !important;
    font-family: "Kanit", sans-serif;
}

.Our-developement {
    max-width: unset !important;
    text-align: center !important;
    margin: 25px 0px;
    font-family: "Kanit", sans-serif;
}

.our-services-bg {
    background-color: #286A97;
    padding: 30px 0px;
    font-family: "Kanit", sans-serif;
}

  /* SLider css start */
.slider {
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 1260px;
    display: flex;
    justify-content: center;
}

.slider::before,
.slider::after {
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    display: flex;
    gap: 20px;
    width: calc(250px * 9); 
    -webkit-animation: scroll 15s linear infinite; 
    animation: scroll 15s linear infinite;
}

.slider:hover .slide-track {
    -webkit-animation-play-state: paused; 
    animation-play-state: paused; 
}

.slider .slide {
    background: #fff;
    border-radius: 8px;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.slider .slide img {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
}

.slider .slide:hover {
    transform: scale(1.05); 
}

/* Slider Css end */

.why-choose-us {
    padding: 88px 0px 50px 0px;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.choose-us-heading {
    margin: 0 auto;
    font-family: "Kanit", sans-serif;
}

.why-para {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    width: 100%;
    max-width: 478px;
    margin: 0 auto;
    font-family: "Kanit", sans-serif;
}

.team-cards {
    background-color: #DDE5FF;
    padding: 20px 15px;
    border-radius: 28px;
    font-family: "Kanit", sans-serif;
}

.team-cards img {
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.team-cards h2 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    height: 50px;
    font-family: "Kanit", sans-serif;
}

.team-cards p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 0px;
    min-height: 75px;
    max-height: 100%;
    font-family: "Kanit", sans-serif;
}

.portfolio {
    background-color: #78D9CE;
    padding: 30px 15px;
    border-radius: 30px;
    height: 529px;
    font-family: "Kanit", sans-serif;
}

.our-portfolio {
    background-color: #F6F6F6;
    padding: 60px 50px;
    margin: 40px 0px 0px 0px;
    font-family: "Kanit", sans-serif;
}

.portfolio-heading {
    color: #fff !important;
    margin-bottom: 50px;
    font-family: "Kanit", sans-serif;
}

.portfolio img {
    width: 560px;
    height: auto;
    font-family: "Kanit", sans-serif;
}

.winbid-sec {
    background-color: #FF837B !important;
    height: 340px;
    overflow: hidden;
    font-family: "Kanit", sans-serif;
}

.Rafayel-web-sec {
    background-color: #78D9CE;
    overflow: hidden;
    height: 303px;
    font-family: "Kanit", sans-serif;
}

.contact-us-sec {
    background-color: #286A97;
    padding: 50px 20px;
    margin: 50px 0px;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
}

.contact-us-sec h3 {
    color: #fff;
    font-size: 26px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    max-width: 629px;
    line-height: 31px;
    margin: 0 auto;
    font-family: "Kanit", sans-serif;
}

.contact-us-sec p {
    color: #fff;
    text-align: center;
    font-size: 17px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;
}

.contact-btn {
    color: #286A97 !important;
    border: none !important;
    background-color: #fff !important;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.testimonial-section {
    background-color: #DFE7ED;
    border-radius: 0px;
    padding: 25px;
    font-family: "Kanit", sans-serif;
}

.slide-content .testimonial-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .testimonial-wrap .testimonial_img {
    height: 200px !important;
    width: 200px !important;
} */

.testimonial-para {
    width: 100%;
    max-width: 613px;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    font-family: "Kanit", sans-serif;
}

.testimonial-h {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
}

.testimonial-h-2 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Kanit", sans-serif;
}

/* Keyframe animation for continuous scrolling effect */
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 4)); 
        transform: translateX(calc(-250px * 4)); 
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 4)); 
        transform: translateX(calc(-250px * 4)); 
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {
    .portfolio {
        background-color: #78D9CE;
        padding: 30px 15px;
        border-radius: 30px;
        height: 612px;
        font-family: "Kanit", sans-serif;
    }

    .winbid-sec {
        height: 302px;
        font-family: "Kanit", sans-serif;
    }

    .Rafayel-web-sec {
        height: 302px;
        font-family: "Kanit", sans-serif;
    }
}