/* Navbar Section Start */

.navbar {
    background-color: white;
    position: relative;
    color: #0274B8;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}

.container-fluid {
    width: 100%;
}

header .navbar {
    padding: 10px 0px !important;
}

a {
    text-decoration: none !important;
}

/*header  logo-change*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar.sticky {
    background-color: #0274B8;
    top: 0;
    width: 100%;
    /* make sure with is 100% */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
}

.navbar.sticky .header__logo {
    filter: brightness(0) invert(1);
}

.header__logo.sticky-show {
    display: none;
}

.header__logo {
    transition: filter 0.3s ease;
}

.background-header .header__logo.sticky-hide {
    display: none;
}

.background-header .header__logo.sticky-show {
    display: block;
}

/*header  logo-change end*/

.nav-link {
    padding: 5px 10px !important;
    color: black;
    transition: color 0.3s ease;
}

.navbar.sticky .nav-link {
    color: white !important;
}

.navbar.sticky .nav-link:hover {
    color: #ffbf34 !important;
}

.navbar-toggler {
    font-size: 24px;
    border: none;
    background: transparent;
    display: none;
    color: #0274b8;
}

.navbar-toggler.icon-white {
    color: #0274b8;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    font-size: 14px;
}

.collapse.navbar-collapse.show {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.collapse.navbar-collapse {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(-20px);
    opacity: 0;
    display: none;
}

.hide {
    display: none;
}

.navbar .navbar-toggler {
    color: white;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 11px;
    right: 7px;
}

#navbarResponsive {
    z-index: 999;
}

.navbar-collapse {
    text-align: center;
    transition: all 0.3s ease;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: column;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 5px;
    position: relative;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 423;
    letter-spacing: 0.5px;
    color: #333;
    transition: all 0.5s;
    margin-top: 5px;
}

.navbar .navbar-nav .nav-item:hover a.nav-link::before {
    width: 50%;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 423;
    letter-spacing: 0.5px;
    color: #333;
    transition: all 0.5s;
    margin-top: 5px;
}

ul {
    /* padding: 0; */
    margin: 0;
    list-style: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 23px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: white !important;
    text-align: left;
    list-style: none;
    background-color: rgb(2, 116, 184, 1);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:hover {
    color: #333 !important;
    text-decoration: none;
    background-color: #f8f9fa;
}

.navbar .navbar-toggler-icon {
    background-image: none;
}


@media (min-width: 992px) {
    .collapse.navbar-collapse {
        display: flex !important;
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}

@media (max-width: 991px) {
    .navbar .navbar-toggler-icon::after {
        color: #0274b8;
        box-shadow: none !important;
    }

    .navbar-toggler {
        display: block;
    }

    .collapse.navbar-collapse {
        display: none;
    }

    .collapse.navbar-collapse.show {
        display: block;
    }

    #navbarResponsive {
        top: 59px !important;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        font-size: 14px;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active>.nav-link,
    .navbar .navbar-nav .nav-link.current,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show>.nav-link {
        color: #ffbf34 !important;
        border-bottom: 1px solid #eee;
    }

    .navbar-collapse ul.navbar-nav.ml-auto {
        position: fixed;
        height: 78vh;
        background: white;
        width: 100%;
        padding: 0;
        margin: 0px;
        z-index: 99999;
    }
    .navbar.sticky .nav-link {
        color: black !important;
    }

    .navbar-toggler:focus {
        text-decoration: none;
    }
}

@media (max-width: 768px) {

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        font-size: 14px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
    }
}

@media (max-width: 480px) {
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        font-size: 14px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
    }
}

/* Navbar Section End */