.products-header-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.products-header-wrapper img {
    width: 100%;
    height: auto;
}

.text-content {
    text-align: left;
    width: 46%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.P-header-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    bottom: 0;
}

.P-header-text h6 {
    margin-bottom: 15px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffbf34;
    animation: fadeOutRight 1s both;
}

.P-header-text h4 {
    margin-bottom: 30px;
    text-transform: none;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #FFF;
    overflow: hidden;
    animation: fadeInLeft 1s both 1.5s;
}

.section-heading {
    text-align: center;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 25px;
    font-weight: 600;
    color: #1e1e1e;
}

h1, h2, h3, h4, h6 {
    margin: 0px;
}

.section-heading em {
    font-style: normal;
    color: #0274B8;
}

.section-heading span {
    display: block;
    margin-top: 15px;
    text-transform: capitalize;
    font-size: 15px;
    color: rgb(102, 101, 101);
    letter-spacing: 1px;
}

.service-item img {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.service-item .down-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flexsys {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.matters-icon {
    padding: 0;
}

.app-icon img {
    width: 60px !important;
}

.matters-icon img {
    height: 60px;
    width: 60px;
}

.pos-style img {
    width: 40px;
    height: 40px;
}

.section-heading-sub {
    margin-bottom: 15px;
}

.title-heading {
    font-size: 20px;
    margin-bottom: 8px;
}

h5 {
    margin: 0px;
    padding-top: 14px;
    font-weight: 600;
    padding-bottom: 13px;
}

.make-unique p {
    font-size: 14px;
    margin: 0;
}

.make-unique p {
    font-size: 14px;
    margin: 0;
}

.make-unique h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 991px) {
    .P-header-text h6 {
        margin-bottom: 11px !important;
        font-size: 17px !important;
    }

    .P-header-text h4 {
        font-size: 21px !important;
        margin-bottom: 0px !important;
    }
    .flexsys {
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .P-header-text h6 {
        font-size: 13px !important;
    }

    .P-header-text h4 {
        font-size: 13px !important;
    }

    .matters-icon img {
        height: 60px;
        width: 60px;
    }
    .flexsys {
        gap: 20px;
    }

    .service-item .down-content-sub {
        text-align: left;
    }

    .matters-desc {
        width: 85% !important;
        text-align: left;
    }

    .service-item .down-content-sub {
        text-align: left;
    }
}

@media (max-width: 576px) {
    .erp-detail p {
        font-size: 12px !important;
    }
}

@media (max-width: 480px) {
    .P-header-text h6 {
        margin-bottom: 4px !important;
    }

    .P-header-text h4 {
        margin-bottom: 10px !important;
        letter-spacing: 0px !important;
    }

    .section-heading {
        padding-top: 1rem !important;
        margin-bottom: 10px !important;
    }

    .section-heading h2 {
        font-size: 16px;
    }

    .pos-order-2 {
        order: 1;
    }

    .pos-style {
        text-align: center;
    }

    .pos-style img {
        width: 40px;
        height: 40px;
    }

    .flexsys {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-item .down-content-sub h6 {
        padding-bottom: 10px;
        text-align: center !important;
    }

    .col-md-10.matters-desc {
        width: 100% !important;
        text-align: center;
    }

    .service-item .down-content-sub p {
        text-align: center;
    }

    .erp.pt-5 {
        padding-top: 10px !important;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .section-heading-sub h4 {
        font-size: 16px;
    }

    .service-item .down-content {
        padding-top: 30px;
        padding-bottom: 0 !important;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .title-heading {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .erp-detail p {
        font-size: 12px !important;
    }

    .list-resp li {
        font-size: 14px;
    }
}

