.products-header-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.products-header-wrapper img {
    width: 100%;
    height: auto;
}

.text-content {
    text-align: left;
    width: 46%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.P-header-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    bottom: 0;
}

.P-header-text h6 {
    margin-bottom: 15px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffbf34;
    animation: fadeOutRight 1s both;
}

.P-header-text h4 {
    margin-bottom: 30px;
    text-transform: none;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #FFF;
    overflow: hidden;
    animation: fadeInLeft 1s both 1.5s;
}

.section-heading {
    text-align: center;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 25px;
    font-weight: 600;
    color: #1e1e1e;
}

h1, h2, h3, h4, h6 {
    margin: 0px;
}

.section-heading em {
    font-style: normal;
    color: #0274B8;
}

.section-heading span {
    display: block;
    margin-top: 15px;
    text-transform: capitalize;
    font-size: 15px;
    color: rgb(102, 101, 101);
    letter-spacing: 1px;
}

.service-item img {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.service-item .down-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flexsys {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.matters-icon {
    padding: 0;
}

.app-icon img {
    width: 60px !important;
}

.service-item img {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.matters-icon img {
    height: 60px;
    width: 60px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

