.products-header-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.products-header-wrapper img {
  width: 100%;
  height: auto;
}

.P-header-text h4 {
  margin-bottom: 30px;
  text-transform: none;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #FFF;
  animation: fadeInLeft 1s both 1.5s;
}

.text-content {
  text-align: left;
  width: 46%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.section-heading h2 {
  font-size: 25px;
  font-weight: 600;
  color: #1e1e1e;
}

.section-heading span {
  display: block;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 15px;
  color: rgb(102, 101, 101);
  letter-spacing: 1px;
}

h1, h2, h3, h4, h6 {
  margin: 0px;
}

.section-title-content h2 {
  font-size: 20px;
  font-weight: 500;
}

h5 {
  margin: 0px;
  padding-top: 14px;
  font-weight: 600;
  padding-bottom: 13px;
}

.service-item .down-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.flexsys {
  display: flex;
}

.service-item img {
  width: 100%;
  overflow: hidden;
}

.matters-icon img {
  height: 60px;
  width: 60px;
}

@media (min-width: 1400px) {
  .container {
      max-width: 1320px;
  }
}