/* Position the life activity content over the Swiper images */
.life-activity-overlay {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 10;
    color: #fff;
    max-width: 100%;
    text-align: left;
}

.images {
    opacity: 0.9;
    width: 100%;
    height: auto;
    opacity: 0.99;
}

.life-activity-overlay h5 {
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF8E8;
}

.life-activity-overlay h2 {
    font-size: 45px;
    margin: 0px;
    color: #FFF8E8;
}

.life-activity-overlay p {
    font-size: 18px;
    margin: 0;
    color: #FFF8E8;
}

.overlay-activity {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    opacity: 0.2;
    height: auto;
}

.our-spaces {
    margin-top: 5rem;
}

.our-spaces h3 {
    color: #fff;
    position: relative;
}

.our-spaces h3::before {
    background-color: #fff;
    width: 70px;
    height: 5px;
    content: '';
    position: absolute;
    bottom: -18px;
}

.our-spaces p {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 20px;
    color: #fff;
    padding: 0px 20px 0px 0px;
}

.short-img {
    position: relative;
}

.short-img img {
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 50px;
}

.award-img {
    top: -83px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.award-img img {
    transform: scale(0.79);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.plus-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 999;
    transition: .3s all ease-in-out;
    opacity: 0;
}

.grid-img {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark background */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    /* Show overlay on hover */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Dark backdrop */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Ensure it is on top */
}

.modal-content {
    position: relative;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 42%;
    max-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-image {
    width: 100%;
    height: auto;
}

.close-icon {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

.left-arrow {
    left: 15px;
}

.right-arrow {
    right: 15px;
}

.slick-item {
    padding: 0 10px;
}

.grid-img:hover .plus-img img {
    opacity: 1;
}

@media (max-width: 1320px) {
    .modal-content {
        position: relative;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        max-width: 88%;
        max-height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:1199px) {
    .award-img {
        top: 162px;
    }

    .modal-content {
        position: relative;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        max-width: 88%;
        max-height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h3 {
        font-size: calc(1rem + .6vw);
    }

    .award-img {
        top: 60px;
    }

}

@media(max-width:991px) {
    .short-img-wrap {
        position: relative;
        top: 48px;
    }

    .ourSpace {
        padding-top: 0 !important;
    }

    .award-img {
        position: relative;
    }

    .short-img img {
        position: relative;
    }

    .custom-style {
        padding-bottom: 0px !important;
    }

    .life-activity h2 {
        font-size: 30px;
    }

    .life-activity p {
        font-size: 14px;
        margin: 0;
    }

    .award-img {
        top: 15px;
    }

    .modal-content {
        position: relative;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        max-width: 88%;
        max-height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .life-activity-overlay h5 {
        letter-spacing: 3px;
        font-size: 18px;
        font-weight: 800;
        color: white;
    }

    .life-activity-overlay h2 {
        font-size: 25px;
        margin: 0px;
        color: white;
    }

    .life-activity-overlay p {
        font-size: 18px;
        margin: 0;
        color: #FFF8E8;
    }

    .ourSpace {
        padding-top: 0 !important;
    }

    .custom-style {
        padding-bottom: 0px !important;
    }

    /* h3 {
        font-size: calc(0.5rem + .6vw);
    } */
}

@media (max-width: 768px) {
    .life-activity h2 {
        font-size: 20px;
    }

    .life-activity h5 {
        font-size: 14px;
    }

    .life-activity p {
        font-size: 12px;
        margin: 0;
    }

    .our-spaces {
        margin-top: 2rem;
    }

    .modal-content {
        position: relative;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        max-width: 85%;
        max-height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay-activity h5 {
        font-size: 14px;
    }

    .life-activity-overlay h5 {
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: 700;
        color: white;
    }

    .life-activity-overlay h2 {
        font-size: 24px;
        margin: 0px;
        color: white;
    }

    .life-activity-overlay p {
        font-size: 15px;
        margin: 0;
        color: #FFF8E8;
    }

    .row>.col-lg-6 {
        width: 100%;
        max-width: 100%;
    }

    .our-spaces {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .life-activity h2 {
        font-size: 18px;
    }

    .life-activity h5 {
        font-size: 12px;
    }

    .life-activity p {
        font-size: 12px;
        margin: 0;
    }

    .our-spaces {
        margin-top: 2rem;
    }

    .our-spaces p {
        font-size: 18px;
    }

    .award-img {
        top: 15px;
    }

    img.mfp-img {
        width: auto;
        max-width: 100%;
        height: auto !important;
        display: block;
        line-height: 0;
        box-sizing: border-box;
        padding: 45px 0 40px;
        margin: 0 auto;
    }

    .modal-content {
        position: relative;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        max-width: 95%;
        max-height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .life-activity-overlay h5 {
        letter-spacing: 3px;
        font-size: 12px;
        font-weight: 700;
        color: white;
    }

    .life-activity-overlay h2 {
        font-size: 20px;
        margin: 0px;
        color: white;
    }

    .life-activity-overlay p {
        font-size: 12px;
        margin: 0;
        color: #FFF8E8;
    }

    .our-spaces {
        margin-top: 2rem;
    }

    .our-spaces p {
        font-size: 15px;
    }

    .award-img {
        margin-bottom: 30px;
        position: relative;
    }
}