.headingedit {
    margin-bottom: 25px;
}

.st-partner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.partner-left {
    width: 48%;
}

.partner-right {
    width: 48%;
}

.partner-left img {
    width: 100%;
    height: auto;
    max-width: 250px;
}

.partner-left a {
    margin-bottom: 15px;
    color: #212529;
    display: flex;
    align-items: center;
}

.partner-left a i {
    font-size: 16px;
    color: #0274B8;
    margin-right: 10px;
}

.partner-left img {
    width: 100%;
    height: auto;
    max-width: 200px;
    display: block;
}

.partner-right iframe {
    width: 100%;
    height: 393px;
}

@media (max-width: 991px) {
    .partner-left {
        margin: 12px;
    }
}

@media screen and (max-width: 767px) {
    .partner-left {
        width: 100%;
    }

    .st-partner-wrap {
        width: 90%;
        flex-direction: column;
    }

    .partner-right {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .section-heading h2 {
        font-size: 16px;
    }
}